.background-good {
    border: solid 1px #60AF20;
}

.background-bad {
    border: solid 1px #B00020;
}

.background-neautral {
    border: none;
    ;
}

.news-div {
    padding: 15px;
    margin-bottom: 10px;
}